* {
  margin: 0;
  padding: 0;
}

/* header */

.header__search {
  display: none;
}

header .dropdown {
  display: none;
}

.header__banner {
  text-align: center;
  margin: 1.25rem;
}
.navbar {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin-left: 2.5rem;
  margin-right: 1.25rem;
}
.nav-link {
  font-size: 1.1rem;
  margin-right: 11.75rem;
  color: black;
  font-weight: 800;
}

.nav-item {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.d-flex {
  position: relative;
  font-size: 2.5rem;
}
.d-flex img {
  position: absolute;
  right: 0.625rem;
  top: 0.78rem;
}
#navBarSearchForm {
  width: 30.75rem;
  height: 2.5rem;
  margin: 0.625rem 0;
}

/* main */

main .btn-group {
  display: none;
}

main .dropdown-toggle::after{
  display:none;
}

main .btn.dropdown-toggle{
  display:flex;
  justify-content:space-between;
}

.dropdown-icon{
  padding-right:1rem;
}

.main__search--two {
  display: none;
  width: 95%;
  height: 5rem;
  margin: auto;
}

.main__search--two .form-control {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-radius: 0;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 1.25rem;
}

.main__banner {
  display: flex;
  gap: 0.625rem;
  position: relative;
  margin-top: 2.5rem;
  margin-left: 1.87rem;
}

.main__banner__left {
  background-image: url(./assets/left-banner.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 65vh;
  width: 60%;
  margin-left: 0.625rem;
}
.main__banner__left--text {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  position: absolute;
  left: 4%;
  top: 40%;
}

.main__banner__left--text1 {
  font-size: 1.25rem;
  color: #894b02;
}

.main__banner__left--text2 {
  font-size: 5rem;
}

.main__banner__right {
  width: 40%;
  margin-right: 1.25rem;
  border: 2px solid #894b02;
  height: 65vh;
}

.main__banner__right--head {
  background-color: #894b02;
  color: white;
  font-size: 1.25rem;
  padding-left: 1.25rem;
}

.main__banner__right ul {
  list-style: none;
  font-size: 1.2rem;
  padding-inline-start: 0;
}

.main__banner__right li {
  border-bottom: 1px solid #3a3939;
  padding: 0.625rem;
}

.main__banner__right li:nth-child(1) {
  padding-top: 2.5rem;
}
.main__banner__right li:nth-child(7) {
  border: none;
}

.follow {
  position: absolute;
  z-index: 1;
  width: 10vw;
  height: 200px;
  background-color: silver;
  right: 0;
  top: 87%;
  padding: 1.25rem;
  box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.75);
}

.follow__head {
  text-align: center;
  font-size: 1.51rem;
}
.follow__icons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.follow img {
  margin: 0.525rem ;
}

/* sales */

.sales__head {
  font-size: 1.25rem;
  margin: 4.5rem 2.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
}

.sales__head:after {
  content: "";
  display: block;
  width: 8.3%;
  margin-top: -1px;
  border-bottom: 2.5px solid #c57901;
}
.sales__head hr {
  margin: 0;
}

.sales__card {
  display: flex;
  justify-content: space-between;
}

.sales__card__item:nth-child(1) {
  margin-left: 1.87rem;
}

.sales__card__item:nth-child(4) {
  margin-right: 1.25rem;
}

.sales__card__item img {
  width: 380px;
}

.sales__card__item--img {
  position: relative;
}

.sales__card__item--details {
  position: absolute;
  background-color: rgba(190, 127, 86, 0.9);
  bottom: 0;
  color: white;
  font-size: 1.5rem;
  padding: 1.75rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* details */

.details__head {
  font-size: 3.125rem;
  text-align: center;
  margin-top: 6.25rem;
  margin-bottom: 1.25rem;
  font-weight: 600;
}
.details__body {
  font-size: 1.25rem;
  text-align: center;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
  margin-bottom: 6.25rem;
  line-height: 2.5;
}

/* footer */

.footer__links {
  background-color: #894b02;
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 0.937rem;
}
.quickLinks__head,
.newsLetter__head {
  margin: 1.87rem;
  font-weight: 600;
}
.quickLinks ul {
  list-style: none;
}

.quickLinks li {
  margin: 1.25rem;
  margin-left: 0.125rem;
}

.newsLetter input {
  margin-left: 1.875rem;
  padding: 0.18rem;
}

.newsLetter button {
  border-style: none;
  margin-left: 1.87rem;
  margin-top: 0.625rem;
  padding: 0.125rem;
  text-align: center;
  width: 50%;
  background-color: #c57901;
  color: white;
}

.contactInfo__head {
  margin-top: 1.875rem;
  margin-bottom: 0.93rem;
  font-weight: 600;
}

.contactInfo ul {
  list-style: none;
  padding-inline-start: 0%;
  display: flex;
  flex-direction: column;
}

.contactInfo li {
  margin-bottom: 1.87rem;
  padding-inline-start: 0%;
  margin-right: 1.25rem;
  display: flex;
}

.contactInfo__logo {
  margin-right: 1.25rem;
}

.copyright {
  background-color: black;
  color: white;
  padding: 0.375rem;
  font-size: 0.937rem;
  text-align: center;
}

.content{
  max-width: 2040px;
  margin: 0 auto;
}

.visible{
  display: block;
}
.not-visible{
  display: none;
}


/* media query */

@media only screen and (max-width: 767px) {
 

  /* head */

  .navbar {
    display: none;
  }

  .header__search {
    display: block;
    position: absolute;
    top: 5.4%;
    right: 5%;
  }

  .header__banner {
    border-bottom: 1px solid silver;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    text-align: left;
  }

  .header__banner--logo {
    height: 3.2rem;
  }

  header .dropdown-toggle::after {
    display: none;
    
  }

  header .dropdown {
    display: block;
    background-color: rgb(0, 0, 0);
    padding: 0.8rem;
  }

  header .btn {
    width: 95vw;
  }

  header .dropdown img {
    width: 1.5rem;
    position: absolute;
    top:1rem;
    right: 7%;
  }

  header .dropdown-menu {
    width: 98.9%;
    font-size: 1.6rem;
    text-align: center;
    background-color: #c57901;
  }

  header .dropdown-item {
    color: white;
    margin-bottom: 1.6rem;
  }

  header .dropdown-item:active {
    background-color: white;
    color: #c57901;
  }

  /* main */

  

  main .btn-group {
    display: block;
    color: white;
  }

  main button.btn.dropdown-toggle:hover {
    color: white;
}

  main .btn-group button {
    width: 92%;
    background-color: #894b02;
    color: white;
    height: 4vh;
    font-size: 0.8rem;
    margin-left: 1.2rem;
    margin-right: 0.8rem;
    text-align: left;
    margin-top: 0.4rem;
  }
  main .btn.dropdown-toggle {
    height: 3.2rem;
  }

  main button.dropdown-toggle {
    font-size: 1.6rem;
    height: 40px;
  }

  main .dropdown-menu{
    width:96%;
    border:none;
  }
  .main__banner {
    width: 94vw;
    margin-top: 1rem;
    margin-left: 0.7rem;
  }
  .main__banner__left {
    width: 92vw;
    height: 40vh;
  }

  .main__banner__left--text {
    top: 40%;
  }

  .main__banner__left--text1{
    font-size: 1.2rem;
  }

  .main__banner__left--text2{
    font-size: 4rem;
  }

  .main__banner__right {
    display: none;
  }
  .follow {
    top: 120%;
    height: 250px;
    width: 22vw;
    padding: 0.4rem;
    right: 0%;
  }

  .follow__head {
    font-size: 1.4rem;
  }

  .follow__icons {
    justify-content: flex-end;
  }
  .follow__icons--img {
    width: 50%;
  }
 

  .follow img {
    width: 80%;
    padding: 0.4rem;
  }

  /* sales */

  .sales__head {
    font-size: 1.6rem;
  }

  .sales__head:after {
    width: 43%;
  }
  

  .sales__card {
    flex-direction: column;
    align-items: center;
    gap: 3.2rem;
  }
  .sales__card__item img {
    width: 100%;
  }
  .sales__card__item img {
    width: 450px;
  }

  .sales__card__item--details {
    font-size: 1.6rem;
    padding: 1.2rem;
  }

  /* details */

  .details__head {
    font-size: 2.2rem;
    margin-bottom: 4rem;
  }

  .details__body {
    line-height: 3;
    font-size: 1.2rem;
    margin-bottom: 8rem;
  }

  /* footer */

  .footer__links {
    flex-direction: column;
    font-size: 1.12rem;
    font-family: "Open Sans", sans-serif;
  }

  .quickLinks__head,
  .newsLetter__head,
  .contactInfo__head {
    font-size: 1.2rem;
  }

  .quickLinks__head,
  .newsLetter__head {
    margin-bottom: 0.4rem;
  }

  .quickLinks ul {
    display: flex;
  }
  .quickLinks li{
    margin-right: 1.2rem;
  }
  .contactInfo {
    margin-left: 2.2rem;
  }

  .newsLetter button {
    border: none;
    text-align: left;
    padding-left: 0.8rem;
    width: 25%;
    margin-bottom: 0.8rem;
  }

  .copyright{
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 400px) {
 
  .header__search {
    width: 2rem;
    top: 9.5%;
    right: 5%;
  }
  

  .main__banner__left--text1{
    font-size: 0.6rem;
  }

  .main__banner__left--text2{
    font-size: 2.4rem;
  }

  .sales__head:after {
    width: 42.6%;
  }
  .sales__card__item img {
    width: 210px;
  }
  .sales__card__item--details{
    font-size: 1rem;
  }
  .follow {
    width: 80px;
    height: 280px;
    top:110%;
  }

  .follow__head{
    font-size: 0.84rem;
  }
  .follow__icons--img {
    width: 85%;
  }
  .footer__links{
    font-size: 90%;
  }
}

@media only screen and (max-width: 327px) {

  .main__banner__left--text{
    top:50%;
  }

  .main__banner__left--text1{
    font-size: 0.6rem;
  }

  .main__banner__left--text2{
    font-size: 1.8rem;
  }
  .sales__head:after {
    width: 49.3%;
  }
  .sales__card__item img {
    width: 180px;
  }
  .follow {
    height: 220px;
    width:60px;
  }
  .follow__head{
    font-size: 0.6rem;
  }
  .follow__icons--img {
    width: 85%;
  }
  .footer__links{
    font-size: 70%;
  }
}

@media only screen and (min-width: 400px) and (max-width: 600px) {

  

  .header__search {
    width: 2.4rem;
    top: 10.5%;
    right: 5%;
  }

  main .btn.dropdown-toggle{
    font-size: 1.52rem;
  }

  .main__banner__left--text1{
    font-size: 0.8rem;
  }

  .main__banner__left--text2{
    font-size: 2.8rem;
  }
  .sales__card__item img {
    width: 240px;
  }

  .sales__card__item--details {
    font-size: 1.2rem;
  }
  .sales__head:after {
    width: 49.3%;
  }
  .follow {
    width:100px;
    height: 320px;
  }
  .follow__head{
    font-size: 1rem;
  }
  .follow__icons--img {
    width: 70%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 600px) {
  

  .main__banner__left--text1{
    font-size: 0.8rem;
  }
  .sales__card__item img {
    width: 300px;
  }
  .sales__head:after {
    width: 38.3%;
  }
  .follow {
    width:120px;
    height: 340px;
  }
  .follow__icons--img {
    width: 70%;
  }
  .follow__head{
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 767px) {
  .header__search {
    width: 2.2rem;
    top: 4.6rem;
    right: 5%;
  }

  .main__banner__left--text2{
    font-size: 4rem;
  }
  .follow {
    width:160px;
    height: 450px;
  }
  .follow__icons{
    width:80%;
  }
  .follow img {
    width: 100%;
    padding: 1rem;
  }

  .follow__icons--img {
    width: 70%;
  }
  .sales__head:after {
    width: 34.3%;
  }
  .sales__card__item img {
    width: 310px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
 
  .nav-link {
    font-size: 12.5px;
    margin-right: 2.64rem;
  }

  #navBarSearchForm {
    width: 15.125rem;
  }
  

  .d-flex img {
    width: 1.6rem;
    top: 0.9rem;
  }

  .main__banner__left,.main__banner__right {
    height: 55vh;
  }

  .main__banner__left--text{
   top:50%;
  }

  .main__banner__left--text1{
    font-size: 0.7rem;
  }
  .main__banner__left--text2{
    font-size: 2.8rem;
  }

  .main__banner__right--list li {
    font-size: 0.8rem;
  }

  .main__banner__right li:nth-child(7) {
    padding-bottom: 4rem;
  }

  .follow {
    top: 85%;
    width: 20vw;
    height: 180px;
  }

  .follow__head {
    font-size: 1.26rem;
  }
  .follow__icons--img {
    width: 34%;
  }
  .follow img {
    margin:  0.3955rem 0.14rem ;
  }

  .sales__head:after {
    width: 19.3%;
  }

  
  .sales__card img {
    width: 90%;
  }

  .sales__card__item--details {
    width: 90%;
    height:4rem;
    padding:1rem;
    font-size: 1rem;
  }
  .quickLinks,.newsLetter,.contactInfo{
    font-size:0.8rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1248px) {
 
  .nav-link {
    font-size: 16px;
    margin-right: 4.2rem;
  }
  #navBarSearchForm {
    width: 20.125rem;
  }

  .main__banner__left,.main__banner__right{
    height:60vh;
  }
  .main__banner__left--text2{
    font-size: 4.2rem;
  }

  .d-flex img {
    width: 1.6rem;
    top: 0.9rem;
  }
  
  .main__banner__right--list li {
    font-size: 1rem;
  }
  .follow {
    width: 200px;
    top:87%;
    height:200px;
  }
  .follow__head {
    font-size: 1.267rem;
  }
  .follow img {
    margin:  0.5955rem 0.14rem  ;
  }
  .sales__head:after {
    width: 14%;
  }
  .sales__card img {
    width: 90%;
  }
  .sales__card__item img {
    width: 220px;
  }

  .sales__card__item--details {
    width: 100%;
    height:5rem;
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 1248px) and (max-width: 1774px) {
 
  .nav-link {
    margin-right: 8.1rem;
    font-size:15.5px;
  }
  .main__banner__right--list li {
    font-size: 1.35rem;
  }
  #navBarSearchForm {
    width: 23.175rem;
  }
  
  .follow {
    width: 200px;
  }
  .follow__icons--img {
    width: 44%;
  }
  .sales__head:after {
    width: 9.3%;
  }
  .sales__card img {
    width: 90%;
  }

  .sales__card__item--details {
    width: 90%;
  }

  .sales__card__item img {
    width: 280px;
  }
  .sales__card__item--details {
    width: 100%;
  }
}
